@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  font-family: 'Montserrat', sans-serif; }

.table {
  display: table;
  width: 100%; }
  .table > * {
    display: table-cell;
    vertical-align: top; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

body {
  font-size: 16px; }

main {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  min-height: 100vh;
  margin: 0 auto;
  padding: 3px; }
  main .icon-them {
    position: fixed;
    z-index: 1; }
  main.dark-them .aside-left-container {
    background: #191919; }
  main.dark-them .main-right-section {
    color: #ffffff;
    background: #424242; }
    main.dark-them .main-right-section section {
      background-color: #191919; }
      main.dark-them .main-right-section section a, main.dark-them .main-right-section section h3 {
        color: #ffffff; }
  main.table {
    max-width: 21cm;
    table-layout: fixed; }
  main h1 {
    font-size: 1.5em; }
  main > * {
    min-height: 100vh;
    display: inline-block; }
  main .aside-left-container {
    transition: all 0.3s ease;
    background: #3aa7de;
    color: #ffffff;
    width: 30%;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.19), 0 2px 8px rgba(0, 0, 0, 0.23); }
    main .aside-left-container h1.name {
      text-align: right; }
    main .aside-left-container .img-profile-container {
      position: relative; }
      main .aside-left-container .img-profile-container .content-img {
        position: absolute;
        bottom: 15%;
        right: 9%; }
        main .aside-left-container .img-profile-container .content-img h1 {
          font-size: 1.3em; }
        main .aside-left-container .img-profile-container .content-img p {
          font-size: 0.8em; }
    main .aside-left-container article {
      padding: 8% 0 8% 8%; }
      main .aside-left-container article p {
        font-size: 0.7em; }
      main .aside-left-container article > div {
        width: 85%;
        border-bottom: 1px solid #398aca;
        padding: 0 8% 8% 0; }
    main .aside-left-container [class^="icon-"] {
      display: inline-block;
      font-size: 1.3em;
      padding-right: 20px; }
  main .main-right-section {
    transition: all 0.3s ease;
    background: #e3e3e3;
    box-shadow: inset 5px 0px 11px rgba(0, 0, 0, 0.19);
    color: #737373;
    width: 70%;
    padding: 3%; }
    main .main-right-section h1.name {
      text-align: left; }
    main .main-right-section section {
      transition: all 0.3s ease;
      background-color: #ffffff;
      margin: 6% 0;
      padding: 6% 0 6% 6%;
      box-shadow: 0 1px 11px rgba(0, 0, 0, 0.19), 0 2px 8px rgba(0, 0, 0, 0.23); }
      main .main-right-section section [class^="icon-"] {
        display: inline-block;
        font-size: 2em; }
      main .main-right-section section h2,
      main .main-right-section section h3,
      main .main-right-section section h4,
      main .main-right-section section a,
      main .main-right-section section p,
      main .main-right-section section span {
        line-height: 2em; }
      main .main-right-section section h2 {
        display: inline-block;
        line-height: 37px; }
      main .main-right-section section h3,
      main .main-right-section section a {
        font-size: 1em;
        color: #737373;
        line-height: 1em; }
      main .main-right-section section h4 {
        color: #6eb1e0;
        font-size: 0.8em; }
      main .main-right-section section article {
        padding: 15px 0;
        border-bottom: 1px solid #737373; }
        main .main-right-section section article:last-of-type {
          border-bottom: none; }
        main .main-right-section section article div {
          padding-right: 5%; }
      main .main-right-section section:first-of-type {
        margin-top: 0; }
      main .main-right-section section:last-of-type {
        margin-bottom: 0; }
    main .main-right-section .container-detail {
      padding-left: 10px; }
