    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
    }

    $time-transition: 0.3s; // section {
    //     background: $secondary-color-dark;
    //     min-height: 100vh;
    //     padding: 20px 10%;
    // }
    body {
        // background: $secondary-color-dark;
        font-size: 16px; // color: white;
        // p {
        //     padding: 30px 0;
        //     font-size: 1em;
        //     text-align: justify;
        // }
    }

    .app-container {
        position: relative;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        min-height: 100vh;
        margin: 0 auto;
        padding: 3px;
        max-width: 21cm; // height: 100vh;
        h1 {
            font-size: 1.5em; // padding: 10px;
        }
        &>* {
            min-height: 100vh; // display: inline-block;
        }
        main {
            &.dark-them {
                .aside-left-container {
                    background: $color-919;
                }
                .main-right-section {
                    color: $primary-color-text;
                    background: #424242;
                    &>i {
                        position: absolute;
                        right: 5%;
                    }
                    section {
                        background-color: $color-919;
                        a,
                        h3 {
                            color: $primary-color-text;
                        }
                    }
                }
            }
            &.table {
                table-layout: fixed;
            }
            .aside-left-container {
                transition: all $time-transition ease;
                background: $primary-color;
                color: $primary-color-text;
                width: 30%;
                box-shadow: 0 1px 11px rgba(0, 0, 0, 0.19), 0 2px 8px rgba(0, 0, 0, 0.23);
                &>section {
                    padding: 0 0 8% 8%;
                }
                h1.name {
                    text-align: right;
                }
                .img-profile-container {
                    position: relative;
                    .content-img {
                        position: absolute;
                        bottom: 8%;
                        right: 9%;
                        max-width: 156px;
                        h1 {
                            font-size: 1.3em;
                        }
                        p {
                            font-size: 0.8em;
                        }
                    }
                }
                .container-detail-personal-data {
                    color: $primary-color-text;
                    // padding-bottom: 8%;
                    .text {
                        display: block;
                        font-size: 0.7em;
                    }
                    &>div {
                        width: 85%;
                        border-bottom: 1px solid $color-aca;
                        padding: 8% 8% 8% 0;
                    }
                    &:first-of-type {
                        padding-top: 8%;
                    } // div:last-of-type {
                    //     border-bottom: none;
                    // }
                }
                [class^="icon-"] {
                    display: inline-block;
                    font-size: 1.3em;
                    padding: 50% 20px 0 0;
                }
            }
            .main-right-section {
                transition: all $time-transition ease;
                background: $secondary-color-light;
                box-shadow: inset 5px 0px 11px rgba(0, 0, 0, 0.19);
                color: $grey-dark;
                width: 70%;
                padding: 0 3% 3% 3%; // padding: 4%;
                position: relative;
                h1.name {
                    text-align: left;
                }
                section {
                    transition: all $time-transition ease;
                    background-color: $primary-color-text;
                    margin: 6% 0;
                    padding: 6% 0 6% 6%;
                    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.19), 0 2px 8px rgba(0, 0, 0, 0.23);
                    position: relative;
                    [class^="icon-"] {
                        display: inline-block;
                        font-size: 2em;
                    }
                    &:hover {
                        i.actions-item.add-icon {
                            visibility: initial;
                            opacity: 1;
                        }
                    }
                    i.actions-item {
                        transition: all 0.5s ease;
                        visibility: hidden;
                        opacity: 0;
                        position: absolute;
                        right: 2%;
                        font-size: 1em;
                        top: 1%;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    h2,
                    h3,
                    h4,
                    a,
                    p,
                    span {
                        line-height: 1.4em;
                    }
                    h2 {
                        display: inline-block; // line-height: 2em;
                    }
                    h3,
                    a {
                        font-size: 1em;
                        color: $grey-dark; // line-height: 1em;
                    }
                    h4 {
                        color: $color-1e0;
                        font-size: 0.7em;
                        text-transform: uppercase;
                        line-height: 2em;
                    }
                    li {
                        list-style-type: none;
                        line-height: 1.4em;
                        margin-top: 10px;
                        font-size: 0.8em; // &:last-of-type {
                        //     margin: 0;
                        // }
                    }
                    article {
                        padding: 15px 0;
                        border-bottom: 1px solid $secondary-color-light;
                        position: relative;
                        &:last-of-type {
                            border-bottom: none;
                        }
                        div {
                            padding-right: 5%;
                        }
                        &:hover {
                            i.actions-item.remove-icon {
                                visibility: initial;
                                opacity: 1;
                            }
                        }
                    }
                    &:first-of-type {
                        margin-top: 0;
                    }
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
                .container-detail {
                    padding-left: 10px;
                }
            }
        }
        .container-footer {
            min-height: 60px;
            background: $color-f6e;
            padding: 2% 10%;
            text-align: center;
            .img-tecnologies {
                filter: grayscale(95%);
                transition: all $time-transition ease;
                &:hover {
                    filter: grayscale(0%);
                    cursor: pointer;
                }
                margin: 10px;
                display: inline-block;
            }
        }
        .message-content {
            position: fixed;
            z-index: 1000;
            color: white;
            background: transparent;
            width: 21cm;
            min-height: initial;
            bottom: 0;
            >* {
                display: block;
                line-height: 2.2em;
                margin: .5em;
                background: rgba(0, 76, 0, .8);
                padding: 0.3em 2em;
                border-radius: 4px;
                text-align: center;
                color: white; // opacity: 0;
                &.error {
                    transition: all $time-transition ease;
                    background: rgba(76, 0, 0, .8); // opacity: 1;
                }
            } // .error{
            //     background: red;
            // }
        }
    }

    header {
        margin: 1% 0;
        text-align: right;
        [class^="icon-"] {
            font-size: 1.2em;
            padding: 1%;
            &:hover {
                cursor: pointer;
            }
        }
    } // .print {
    //     color: red;
    //     position: absolute;
    //     right: 10px;
    //     z-index: 1;
    //     &:hover {
    //         cursor: pointer;
    //     }
    // }
    @media (max-width: 21cm) {
        .app-container {
            width: 100%; // .message-content{
            //     width: 100%;
            // }
            main.table {
                width: 100%;
                >* {
                    display: block;
                    width: 100%;
                }
            }
            .aside-left-container {
                .container-detail-personal-data {
                    // padding: 0 0 4% 4%;
                    .container-detail {
                        width: 90%;
                    }
                }
            }
            .message-content {
                width: 100%;
            }
        }
    }

    @media print {
        .app-container {
            width: 21cm;
            padding: 0;
            box-shadow: none;
            main.table {
                width: 100%;
                >* {
                    display: table-cell;
                    width: 100%;
                }
            }
            .main-right-section {
                width: 70% !important;
                padding: 3% !important;
            }
            .aside-left-container {
                width: 30% !important;
                .container-detail-personal-data {
                    .container-detail {
                        width: 85%;
                    }
                }
            }
        }
        header,
        .actions-item {
            display: none;
        }
        @page {
            margin: 0;
        }
    }